extends partials/layout
block head


block content
    section.container.pageContent
        .panel.panel-success
            .panel-heading Bestelling in gang gezet
            .panel-body
                h3 Uw unieke bestellings code is: #{code}

                p U heeft deze artikelen gekocht voor een totale prijs van 
                    b #{total.toFixed(2)}€

                h2.text-warning Belangrijk!
                p Maak het totale bedrag van <b> #{total.toFixed(2)}€ </b> over naar het iban nummer: <b> #{iban} </b> onder de omschrijving: <b>"unieke code: #{code}"</b>
                p Het is belankrijk dat u de unieke code in het omschrijvings veld toevoegd zodat we kunnen controleren om welke bestelling het gaat.
                p Als u iets niet vertrouwd, vragen of een opermeking heeft kunt u contact openemen (contact gegevens staan onderaan de e-mail).
                br
                p Veel spelplezier gewenst!

            .panel-footer.pb-1
                small
                    p.col-xs-6 Contact Email: #{contactEmail}
                    p.col-xs-6.text-right Telefoon Nummer: #{contactTel}

        br.my-5
        p.lead Artikelen:
        ul.list-group
            each art in articles
                li.list-group-item #{art.title}
        
        p Details:
        ul.list-group
            li.list-group-item Artikelen prijzen: #{articleCosts.toFixed(2)}€
            li.list-group-item Btw: #{btw.toFixed(2)}€
            li.list-group-item Bezorging: #{delivery.toFixed(2)}€
            li.list-group-item
                b Totaal: #{total.toFixed(2)}€

        p.lead Uw bestellings gegevens:
        ul.list-group
            li.list-group-item Voornaam: #{fName} 
            li.list-group-item Tussenvoegsel: #{mName}
            li.list-group-item Achternaam: #{lName}
            li.list-group-item Bedrijf: #{businessName}
            li.list-group-item Telefoon: #{tel}
            li.list-group-item E-mail: #{email}
            li.list-group-item Straatnaam: #{streetName}
            li.list-group-item Plaats: #{placeOfResidence}
            li.list-group-item Provincie: #{province}
            li.list-group-item Postcode: #{postalCode}
            li.list-group-item Huisnummer: #{streetNumber}
            li.list-group-item Land: #{country}

        
            

